@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
.about {
  background-color: rgb(231, 225, 224);
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.about h3 {
  font-size: 32px;
  text-align: center;
  color: #333;
  padding-top: 25px;
}
.about .about_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about .about_fields hr {
  background-color: #333;
  width: 80%;
  margin: auto;
  border: 0.3px solid #A19D9C;
}
.about .aboutMe,
.about .education,
.about .skills {
  width: 380px;
  height: 450px;
  border-radius: 0 18px 0px 18px;
  background-color: rgb(200, 194, 193);
}
.about .aboutMe #naslov,
.about .education #naslov,
.about .skills #naslov {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 600;
}
.about .aboutMe #text,
.about .education #text,
.about .skills #text {
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: start;
  font-size: 18px;
}
.about .aboutMe:hover,
.about .education:hover,
.about .skills:hover {
  cursor: pointer;
  background-color: #b3b0af;
}
.about .skills #text {
  text-align: center;
  line-height: 30px;
}

@media screen and (min-width: 375px) and (max-width: 650px) {
  .about h3 {
    font-size: 24px;
    padding-top: 10px;
  }
  .about .about_fields {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .about .aboutMe,
.about .education,
.about .skills {
    width: 75%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 0 18px 0px 18px;
    margin: auto;
    margin-top: 20px;
  }
  .about .aboutMe p,
.about .education p,
.about .skills p {
    padding-top: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 651px) and (max-width: 900px) {
  .about h3 {
    font-size: 32px;
    padding-top: 10px;
  }
  .about .about_fields {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  .about .aboutMe,
.about .education,
.about .skills {
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 400px;
    border-radius: 0 18px 0px 18px;
    margin: auto;
    margin-top: 20px;
  }
  .about .aboutMe p,
.about .education p,
.about .skills p {
    padding-top: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .about .aboutMe,
.about .education,
.about .skills {
    width: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 500px;
    border-radius: 0 18px 0px 18px;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .about .aboutMe,
.about .education,
.about .skills {
    width: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 500px;
    border-radius: 0 18px 0px 18px;
    margin: auto;
    margin-top: 20px;
  }
}/*# sourceMappingURL=about.css.map */